.post-form input,
textarea {
    background-color: white;
    padding: 10px;
    border: 0px transparent;
    width: 80%;
    z-index: 1;
    border-radius: 10px;
}

.post-submit {
    background-color: blue;
    color: white;
    border: 0;
    padding: 20px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: 700;
}

